.main{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background: white;
    margin-top: -150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}