<div class="container">
  <div *ngIf="product.title" class="product-card row">
    <div class="col-md-6 img-container">
      <img *ngIf="product.imageUrl" class="product-img" [src]="product.previewUrl" alt="{{ product.title }}">
    </div>
    <div class="col-md-6 details-container">
      <div class="product-card-body">
        <p class="product-card-title mt-4 mb-3"><b>{{ product.title }}</b></p>
        <p class="product-card-text mb-1"><b>Product Id: </b>{{ product.$key }}</p>
        <p class="product-card-text mb-1"><b>Price: </b>{{ product.price | currency:'INR':true }}</p>
        <p class="product-card-text mb-1"><b>Availability: </b>{{ product.availability }} units</p>
      </div>
      <div *ngIf="showActions && shoppingCart" class="mt-3">
        <div class="button cart_button" *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity">
          <a (click)="addToCart()">Add to Cart</a>
        </div>
        <ng-template #updateQuantity>
          <product-quantity [product]="product" [shopping-cart]="shoppingCart">
          </product-quantity>
        </ng-template>
      </div>
    </div>
  </div>
</div>