.cart_button::after
{
	background: #1b1b1b;
}

.product-card {
  margin-bottom: 50px;
}

.img-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.product-img {
  width: 100%;
  max-width: 400px;
}

.product-card-title {
  color: #222222;
  font-size: 22px;
}

.product-card-text {
  color: #444444;
  font-size: 14px;
}

@media (max-width: 768px) {
  .product-card {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 468px) {
  .product-card {
    margin-left: 0px;
    margin-right: 0px;
  }

}