.main 
{
	padding: 0 150px;
	margin: 0 60px;
	margin-top: -20px;
	height: 400px;
	display: flex;
	align-items: center;
}

.home_title
{
	font-size: 50px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.home_title span
{
	color: #e95a5a;
}
.home_text
{
	margin-top: 7px;
}
.home_text p
{
	color: #FFFFFF;
}

@media only screen and (max-width: 991px)
{
	.home_title
	{
		font-size: 48px;
	}
	.main 
	{
		padding: 0 100px;
	}
}

@media only screen and (max-width: 767px)
{
	.home_title
	{
		font-size: 36px;
	}
	.main 
	{

		padding: 0 50px;
	}
}

@media only screen and (max-width: 575px)
{
	.home_title
	{
		font-size: 24px;
	}
	.main 
	{
		padding: 0 20px;
		height: 300px;
		margin: 0;
		margin-top: -100px;
	}
}