<app-page-header [data]="headerData"></app-page-header>
<div class="container mt-4">
  <div class="my-header">
    <input #query (keyup)="filter(query.value)" type="text" class="form-control search-box"
      placeholder="Search (by name)">
    <div class="button new_product_button">
      <a routerLink="/admin/products/new">+ New Product</a>
    </div>
  </div>

  <div class="table mb-4">
    <data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">

      <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          {{ item.price | currency:'INR':true }}
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'category'" [header]="'Category'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          {{ getCategoryName(item.category) }}
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'$key'">
        <ng-template #dataTableCell let-item="item">
          <a [routerLink]="['/admin/products/', item.$key]">Edit</a>
        </ng-template>
      </data-table-column>
    </data-table>
  </div>

</div>