.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: #1b1b1b;
}

.order-status {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 !important;
    color: #282828;
}